body {
    background-color: ghostwhite;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;

}

.NavigationHeader{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5em;
    background-color: lightsteelblue;
    justify-content: stretch;
}

.NH_TextLinks{
    font-size: 1.8em;
    display: flex;
        justify-content: space-evenly;
        align-items: center;
    z-index: 9;
    justify-content: flex-end;
    flex-grow: 2;
    margin-right: 10px;
}

.NH_TextLinks a{ /*The text-links in the header*/
    padding: 2vw;
    border-radius: 0.2em;
    color: #131313;
    font-weight: bold;
}

.NH_TextLinks a:hover{
    background-color: #82a6da;
}

@media (max-width: 1300px) {
    /*makes header vertical on small screens*/
    body .NavigationHeader{
        flex-flow: column;
    }
    body .NH_TextLinks{
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }

    body .NH_TextLinks a{ /*The text-links in the header*/
        margin: 5px 0px 5px 0;
    }
}
a:link, a:visited {
}

img.Footer_ContactInfo-Image{
    float:left;
    padding:5px;
    width:10%;
    height:10%
}

p.Footer_ContactInfo-List{
    padding:5px;
}

.Footer{
    background-color: lightsteelblue;
    display:flex;
        justify-content: space-evenly;
        align-items: flex-start;
}

.Footer_ContactInfo, .Footer_ContactInfo{
    text-align:left;
    color:black;
    padding:5px;
}

p.Footer_OurStory-List{
    padding:5px;
    margin:0;
}

a.Footer_OurStory-List{
    padding: 5px 0px;
    margin:0;
    color:black;
}

.storyText{
    padding: 2em;
    background-color:white;
    text-align: center;
}

.reservationForm {
    padding: 2em;
    background-color:white;
}

.aboutInfo {
    padding:2em;
    background-color:white;
}

a:link, a:visited {
    text-decoration: none;
}

section.aboutInfo_contactInfo td{
    text-align: center;
}

section.aboutInfo_openingHours li{
    list-style-type: none;
}

/* AboutInfo for small screens */
@media (max-width: 700px) {
    div {
        margin: 0 auto;
        width: auto;
    }

    section.aboutInfo_contactInfo table{
        width:90%
    }

}

/* AboutInfo for large screens */
@media (min-width: 700px){
    section.aboutInfo_contactInfo table{
        width: 50%;
    }

    .reservationForm{
        width:75%;
        margin:auto;
        margin-top:1.5%;
        margin-bottom:1.5%;
        border-radius:1em;
    }

    .storyText{
        width:75%;
        margin:auto;
        margin-top:1.5%;
        margin-bottom:1.5%;
        border-radius:1em;
    }

    .aboutInfo{
        width:75%;
        margin:auto;
        margin-top:1.5%;
        margin-bottom:1.5%;
        border-radius:1em;
    }
}
.backgroundcontainer{
    overflow: hidden;
    background: url("../Images/background.jpg") repeat-y;
    width: auto;
    height: 2000px;
    z-index: 8;
}
#menu--links{
    background-color: #3d5a80;
    color: #cf8e58;
    border-radius: 25px;
    
}
table.menu {
    width: 50%;
    background-color: lightsteelblue;
    position: absolute;
    left: 25%;
    right: 25%;
}
.title{
    color: #cf8e58;
    background-color: #3d5a80;
    font-size: 24px;
}
.section{
    color: #293241;
    text-decoration-line: underline;
    font-weight: bold;
    font-size: 20px;
}
.name{
    font-size: 16px;
    color: #f1795b;
    font-weight: bold;
}
.ingredients{
    font-size: 12px;
    color: #293241;
}
.price{
    font-size: 18px;
    color: #f1795b;
    text-decoration: underline;
    font-weight: bold;
}

