body {
    background-color: ghostwhite;
    margin: 0;
    padding: 0;
    font-family: sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial;
    
}

<<<<<<< HEAD
header{
    /* need to change padding to relative,  */
    padding: 10px;
    text-align: left;
    font-size: 1.5em;
    background-color: lightsteelblue;
}

footer{
    background-color: lightsteelblue;
}

.footer_element{
    float: left
    
}

div {
    width: 600px;
    margin: 5em auto;
    padding: 2em;
    background-color: #fdfdff;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}
a:link, a:visited {
    color: #38488f;
=======
.navigationBar{
    /* need to change padding to relative,  */
    padding: 5px;
    width: auto;
    text-align: left;
    font-size: 2.5em;
    background-color: lightsteelblue;
    display: flex;
        justify-content: space-evenly;
        align-items: center;
}

<<<<<<< HEAD
img.left{
    float:left;
    padding:5px;
    width:10%;
    height:10%
}

.footer{
    background-color: lightsteelblue;
    display:flex;
        justify-content: space-evenly;
        align-items: flex-start;
}

.footer_element{
    text-align:left;
    color:black;
    padding:5px;
}

p.footer_list{
    padding:5px;
    margin:0;
}

p.footer_list-about{
    padding: 5px 0px;
    margin:0;
}

.reservation_form{
    padding:20px 30px;
=======
.navigationBar_logo{

}

footer{
    background-color: lightsteelblue;
}

.story_text{
    margin: 0;
}

.footer_element_left{
    float:left;
>>>>>>> afe8932a924dbdd1400d1a1f4ea56e177efd31f2
}

a:link, a:visited {
    color: black;
>>>>>>> ca20d85373895edf373db6bb6f2dc67d56f8d675
    text-decoration: none;
}
@media (max-width: 700px) {
    div {
        margin: 0 auto;
        width: auto;
    }
}
<<<<<<< HEAD

table.menu {
    width: 30%;
    background-color: rgb(70, 70, 70);
}
.title{
    color: #d85656;
    background-color: rgb(116, 116, 116);
    font-size: 24px;
}
.section{
    color: #cacaca;
    text-decoration-line: underline;
    font-size: 18px;
    text-decoration: wavy;
}
.name{
    font-size: 16px;
    color: #d85656;
}
.ingredients{
    font-size: 12px;
    color: #adadad;
}
.price{
    font-size: 18px;
    color: #cacaca;
    text-decoration: underline;
}
=======
>>>>>>> ca20d85373895edf373db6bb6f2dc67d56f8d675
